.auth__form {
   background: #4E6C50;
   padding: 40px;
   border-radius: 20px;
}

.auth__btn{
    background: #988c06 !important;
    color: var(--primary-color);
    font-weight: 600;
   
}

.auth__form p {
    margin-top: 30px;
}
.auth__form p a {
    color: rgba(8, 8, 8, 0.735);
    font-weight: 10px;
} 

.auth__form input[type='file'] {
   color: #fff; 
   cursor: pointer;
}
